.style1{
    width: 200px;
    height: 200px;
    background-color: red;
}

.style2{
    width: 200px;
    height: 200px;   
    animation : animate 5s infinite;
}

@keyframes animate{
    from {
       background-color: white;
    }
    to {
       background-color: blue;
    }
}