<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="warning" (click)="add()">ADD</ion-button>

  <ion-card *ngFor="let item of items; index as i">
    <ion-card-header>
      <ion-card-title>
        {{i}}-{{item?.name}}
      </ion-card-title>
     
    </ion-card-header>
    <ion-card-content>
      {{item?.value}}
 
      <ion-button color="warning" (click)="remove(i)">Remove</ion-button>
      </ion-card-content>
  </ion-card>



</ion-content>